body {
    /* background-color: aquamarine; */
}

.bg {
    /* border: 1px solid red; */
    background-image: linear-gradient(to bottom, #f40be0, #e600e4, #d700e9, #c600ed, #b303f2);
    width: 100%;
    height: 900px;
    border-radius: 160px;
    top: -401px;
    left: -104px;
    position: relative;
    transform: rotate(-29deg);
    -webkit-box-shadow: 4px -1px 67px -18px rgba(158, 71, 158, 1);
    -moz-box-shadow: 4px -1px 67px -18px rgba(158, 71, 158, 1);
    box-shadow: 4px -1px 67px -18px rgba(158, 71, 158, 1);
}

.img1 {
    width: 500px;
    position: absolute;
    top: 10%;
    right: 116px;
}

.img2 {
    position: absolute;
    left: 10;
    width: 600px;
    right: 480px;
    top: 55%;
}

.content h1 {
    color: #fff;
    font-family: 'Kanit', sans-serif;
    letter-spacing: 2px;
}

.content p {
    color: #000;
    /* font-weight: bold; */
    font-family: 'Poppins', sans-serif;
    width: 600px;
}

.content {
    position: absolute;
    top: 40%;
    left: 190px;
}

a{
    text-decoration: none;
    color: #000;
}

.navbar-brand:hover{
    background: none !important;
    border: none;
}

.button_type button {
    margin-right: 20px;
    border: 1px solid #b303f2;
    background-color: #fff;
    border-radius: 20px;
    padding: 10px 50px;
    font-size: 18px;
    font-weight: 600;
    color: #b303f2;
    font-family: 'Poppins', sans-serif;
}

.btn-primary:active{
    background-color: #f40be0 !important;
    border:  1px solid #f40be0 !important;
}

.button_type button:hover,
a:hover {
    border: 1px solid #f40be0;
    background-color: #f40be0;
    color: #fff;
}

.button_type a {
    text-decoration: none;
}
.landing-phone{
    display: none;
}
.landing-sm{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    padding: 110px 30px;
    border-radius: 30px;
    border-bottom-right-radius: 247px;
    color: #fff;
    margin-top: 5%;
    background-image: linear-gradient(to bottom, #f40be0, #e600e4, #d700e9, #c600ed, #b303f2);
}
.landing-phone .img2{
    position: absolute;
    left: 10;
    width: 514px;
    right: 46px;
    top: 50%;
}
/* Responsiveness */

 @media (max-width: 767px) {
    .landing-phone{
        display: contents;
    }
    .bg, .bg1, .content{
        display: none;
    }
 }
    /*.bg {
        height: 800px;
        width: 800px;
    }

    .content {
        top: 10%;
        left: 120px;
    }

    .content p {
        width: 440px;
    }

    .img1 {
        width: 240px;
        top: 32%;
        right: -158px;
        -webkit-box-shadow: 10px 10px 21px 0px rgba(219, 212, 219, 1);
        -moz-box-shadow: 10px 10px 21px 0px rgba(219, 212, 219, 1);
        box-shadow: 10px 10px 21px 0px rgba(219, 212, 219, 1);
    }

    .img2 {
        width: 400px;
        right: 87px;
        top: 49%;

    }
} */

/* Media Query for low resolution  Tablets, Ipads */
/* @media (min-width: 481px) and (max-width: 767px) {
    .bg {
        height: 800px;
        width: 800px;
        border-radius: 50%;
    }
    .content {
        top: 10%;
        left: 120px;
    }

    .content p {
        width: 440px;
    }
    .img1 {
        width: 240px;
        top: 32%;
        right: 131px;

    }

    .img2 {
        width: 400px;
        right: 87px;
        top: 49%;

    }
} */

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {}

/* Media Query for Large screens */
@media (min-width: 1281px) {}


